<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #empleadoForm="ngForm" (ngSubmit)="addEmpleado(empleadoForm)">
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="documento" name="documento" [(ngModel)]="empleadoService.selecteEmpleado.documento">
                                <label for="documento">Documento</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="text" id="nombre" name="nombre" [(ngModel)]="empleadoService.selecteEmpleado.nombre">
                                <label for="nombre">Nombre</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="text" id="contrasenia" name="contrasenia" [(ngModel)]="empleadoService.selecteEmpleado.contrasenia">
                                <label for="contrasenia">Contraseña</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="text" id="cargo" name="cargo" [(ngModel)]="empleadoService.selecteEmpleado.cargo">
                                <label for="cargo">Cargo</label>
                            </div>
                            <button type="submit" class="btn">Guardar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>       
    </div>
</div>



